body {
    background-image: url("/assets/images/pic.jpg");
    background-color: #cccccc 70%; 
    height: 500px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
  }
  