
  #banner
  { background-image: url("/assets/images/pic.jpg");
    background-color: #cccccc; 
    height: 800px; 
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
  }

  a
  {
      text-Decoration:none;
  }
  