body {
    
  }
  #banner
  { background-image: url("/assets/images/pic.jpg");
    background-color: #cccccc; 
    height: 400px; 
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover; 
    
  }
  