<div class="container">
    <div id="banner" class="px-4 py-5 text-center">
        <h1 class="display-5 fw-bold">Arq. Julienis Brinez</h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Welcome to my portfolio, as an architect I have been working in all this projects for about 5 years already and my main artistic orientation is related to Zaha Hadid vision, the combination of architecture and software developement to build parametric architecture.</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3" href="/projects" >Know about our projects</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4" href="/contact"><a class="nav-link" aria-current="page" href="/contact"><i class="fa-solid fa-envelopes-bulk fa-lg"></i> Contact Us</a></button>
          </div>
        </div>
      </div>
</div>
