<ol>
    <li>First list item</li>
    <li>Second list item with a longer description</li>
    <li>Third list item to close it out</li>
  </ol>
  <p>And this is a definition list:</p>
  <dl>
    <dt>HyperText Markup Language (HTML)</dt>
    <dd>The language used to describe and define the content of a Web page</dd>
    <dt>Cascading Style Sheets (CSS)</dt>
    <dd>Used to describe the appearance of Web content</dd>
    <dt>JavaScript (JS)</dt>
    <dd>The programming language used to build advanced Web sites and applications</dd>
  </dl>
  <h2>Inline HTML elements</h2>
  <p>HTML defines a long list of available inline tags, a complete list of which can be found on the <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element%22%3EMozilla Developer Network</a>.</p>
  <ul>
    <li><strong>To bold text</strong>, use <code class="language-plaintext highlighter-rouge">&lt;strong&gt;</code>.</li>
    <li><em>To italicize text</em>, use <code class="language-plaintext highlighter-rouge">&lt;em&gt;</code>.</li>