<div class="container">
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
            New Kennedy Building. 
            <span class="text-muted">
                Santiago, Chile.
            </span>
        </h2>
      <p class="lead">
          Some great placeholder content for the first featurette here.
           Imagine some exciting prose here.</p>
    </div>
    <div class="col-md-5">
        <a href="https://www.nkbersa.bersa.cl">
         <img width="400px" alt="kennedy" src="https://www.nkbersa.bersa.cl/images/slider/slide_00.png">
        </a>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">
            Oh yeah, it’s that good. 
            <span class="text-muted">
              See for yourself.
            </span>
        </h2>
      <p class="lead">
          Another featurette? Of course. More placeholder content here to 
          give you an idea of how this layout would work with some actual 
          real-world content in place.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <a href="https://www.ikea.com/cl/es/newsroom/corporate-news/conoce-mas-sobre-la-apertura-pub3325f4f7">
            <img width="600px" alt="ikea chile" src="https://www.ikea.com/images/vista-desde-arriba-de-la-tienda-ikea-mall-plaza-oeste-se-ve--2b1e41cfed7628882ecd2c0ecd20b38f.jpeg?f=xxxl">
        </a>     
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">
            New Kennedy Building. 
            <span class="text-muted">
                Santiago, Chile.
            </span>
        </h2>
      <p class="lead">
          Some great placeholder content for the first featurette here.
           Imagine some exciting prose here.</p>
    </div>
    <div class="col-md-5">
        <a href="https://www.r-zinteriors.com/elevated-living/">
         <img width="400px" alt="kennedy" src="https://www.r-zinteriors.com/wp-content/uploads/2022/01/DSC_8251-1024x681.jpg">
        </a>
    </div>
</div>
