<div style="margin-bottom: 50rem">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="bootstrap-themes.png" 
            class="d-block mx-lg-auto img-fluid" 
            alt="Bootstrap Themes" 
            width="700" 
            height="500" 
            loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
               Concept development.
            </h1>
            <p class="lead">
                A design concept is a foundational idea that gives a design
                its depth, meaning and direction. This can typically be summed 
                up as a sentence or short statement that can also be 
                represented visually. A design concept serves to guide design 
                work. It can also act as a slogan to pitch a design to clients
                </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" 
              class="btn btn-primary btn-lg px-4 me-md-2">Contact</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="bootstrap-themes.png" 
            class="d-block mx-lg-auto img-fluid" 
            alt="Bootstrap Themes" 
            width="700" 
            height="500" 
            loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Design Development.
            </h1>
            <p class="lead">
                Design development collects the results from the schematic 
                design phase and takes them one step further. This phase 
                involves finalizing the design and specifying such items as 
                materials, window and door locations and general structural 
                details.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" 
              class="btn btn-primary btn-lg px-4 me-md-2">Contact</button>
            </div>
          </div>
        </div>
      </div>
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="bootstrap-themes.png" 
            class="d-block mx-lg-auto img-fluid" 
            alt="Bootstrap Themes" 
            width="700" 
            height="500" 
            loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Construction Package
            </h1>
            <p class="lead">
                The construction process is the detailed steps required to 
                complete your construction project. This process can be broken 
                down into five phases – planning/design, pre-construction, 
                procurement, construction, and post-construction. Depending on 
                the size and scope of the project, each phase has its own set 
                of challenges.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" 
              class="btn btn-primary btn-lg px-4 me-md-2" href="./contact">Contact</button>
            </div>
          </div>
        </div>
      </div>

</div>