<div style="margin-bottom: 50rem">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="/assets/images/concept.jpg" 
            class="d-block mx-lg-auto img-fluid" 
            alt="Bootstrap Themes" 
            width="700" 
            height="500" 
            loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
               Concept development.
            </h1>
            <p class="lead">
                Conceptualize: Project team will sit down and brainstorm 
                ideas based on client’s responses on the questionnaire. At 
                this stage, we are looking to generate creative solutions to 
                the design problems facing the contemporary clients
                <br><br>
                Propose conceptual direction: Once we’ve distilled a direction, 
                we polish, refine, and discuss design approach through space 
                planning and in-house sketches or renderings to present our 
                initial concept(s)
                <br><br>
                Plan spatial arrangements: We amalgamate your needs into effective 
                and functional floor layout for every given space.
                Concept Presentation: The designers will sit down with the client 
                to review their requests and to present the concepts and finishes
                </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" 
              class="btn btn-primary btn-lg px-4 me-md-2"><a class="text-light" href="/contact">Contact</a></button>
            </div>
          </div>
        </div>
      </div>
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="bootstrap-themes.png" 
            class="d-block mx-lg-auto img-fluid" 
            alt="Bootstrap Themes" 
            width="700" 
            height="500" 
            loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Design Development.
            </h1>
            <p class="lead">
                Materials selection and refinement: We synthesize materials, 
                furnishings, fixtures, and fittings for the function and 
                aesthetic that will meet your needs.
                <br><br>
                Spatial refinement: Careful refinement of the floor plans are 
                examined and implemented based on client’s feedback. Further, 
                elevations are prepared to illustrate wall treatment, finishing 
                and any custom millwork requirements for every space.
                <br><br>
                Coordination: At this stage, and during the entire process, 
                we coordinate with other consultants to ensure every detail is 
                aligned.
                <br><br>
                Design Presentation: The designers will sit down with the client 
                to review the final layout, elevations and any custom millwork 
                introduced into the space. At this meeting projected custom 
                millwork numbers are discussed to obtain direction.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" 
              class="btn btn-primary btn-lg px-4 me-md-2"><a class="text-light" href="/contact">Contact</a></button>
            </div>
          </div>
        </div>
      </div>
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="bootstrap-themes.png" 
            class="d-block mx-lg-auto img-fluid" 
            alt="Bootstrap Themes" 
            width="700" 
            height="500" 
            loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Construction Package
            </h1>
            <p class="lead">
                General Administration: Site check-ups,meeting minutes, 
                site instructions, change orders, sample submittals, 
                shop drawing reviews, and general communications are addressed 
                during the course of construction.
                <br><br>
                Contract Close-out: The end of a beautiful many times smooth 
                but sometimes bumpy journey into construction of your space.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" 
              class="btn btn-primary btn-lg px-4 me-md-2"><a class="text-light" href="/contact">Contact</a></button>
            </div>
          </div>
        </div>
      </div>

</div>