<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS Section -->
    <link rel="stylesheet" href="./bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="./Content/app.css">
</head>
<body>
    <!-- Main Navigation Section --> 
    <header>
        <%- include('./components/header.ejs'); %>
    </header>

    <!-- Content Section -->
    <main>
        <%- include('./content/' + page + '.ejs'); %>
        <div id="banner" class="px-4 py-5 text-center">
            <h1 class="display-5 fw-bold">Centered hero</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Welcome to my portfolio, as an architect I have been working in all this projects for about 5 years already and my main artistic orientation is related to Zaha Hadid vision, the combination of architecture and software developement to build parametric architecture.</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
              </div>
            </div>
          </div>
    </main>


    <!-- Site-wide Footer Section -->
    <footer>
        <%- include('./components/footer.ejs'); %>
    </footer>
    
    <!-- JavaScript Section -->
    <script src="./jquery/dist/jquery.min.js"></script>
    <script src="./bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script src="./Scripts/app.js"></script>
</body>
</html>