<nav class="navbar fixed-bottom bg-light">
    <div class="container-fluid">
      <div class="container">
        <footer class="py-5">
          <div class="row">
            <div class="col-6 col-md-2 mb-3">
              <h5>Section</h5>
              <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="/Home" class="nav-link p-0 text-muted">Home</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About us</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our projects</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Our services</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contact us</a></li>
              </ul>
            </div>
      
            <div class="col-6 col-md-2 mb-3">
            </div>
            <div class="col-6 col-md-2 mb-3">
            </div>
      
            <div class="col-md-5 offset-md-1 mb-3">
              <form>
                <h5>Follow us</h5>
                <p>Follow our social media for more information.</p>
                <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                  
                </div>
              </form>
            </div>
          </div>
      
          <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2022 Company, Inc. All rights reserved.</p>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark">
                <i class="fa-brands fa-linkedin"></i><svg 
                class="bi" width="24" height="24" 
                href="https://www.linkedin.com/in/julienis-briñez/"></svg></a></li>
              <li class="ms-3"><a class="link-dark">
                <i class="fa-brands fa-instagram"></i>
                <svg class="bi" width="24" height="24">
                <use href="https://www.instagram.com/pepetica/"></use></svg></a></li>
              <li class="ms-3"><a class="link-dark">
                <i class="fa-brands fa-github-square"></i>
                <svg class="bi" width="24" height="24">
                <use href="https://github.com/JULIENIS"></use></svg></a></li>
            </ul>
          </div>
        </footer>
      </div>
    </div>
</nav>